* {
  box-sizing: border-box;
}

.container {
  padding: 30px;
  border: 1px dotted black;
}

.parent {
  position: relative;
  padding: 20px;
  border: 1px dotted black;
}

.item.red {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: red;
}

.item.green {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: green;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.item.blue {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: blue;
  top: 0;
  left: 0;
}
